---
import IconVelada from '@/Icons/IconVelada.astro'
---

<section class="flex flex-col gap-10 items-center justify-center py-24">
    <IconVelada/>
    <h3 class="uppercase text-lg font-medium text-primary opacity-80 text-center text-balance">Para el evento de presentación faltan</h3>
    <div class="text-primary uppercase font-semibold flex gap-2">
        <div class="flex flex-col items-center gap-1">
            <span class="text-4xl tabular-nums px-3">09</span>
            <span class="text-xs text-center">días</span>
        </div>
        <span class="text-xl font-bold mt-1">:</span>
        <div class="flex flex-col items-center gap-1">
            <span class="text-4xl tabular-nums px-3">27</span>
            <span class="text-xs text-center">horas</span>
        </div>
        <span class="text-xl font-bold mt-1">:</span>
        <div class="flex flex-col items-center gap-1">
            <span class="text-4xl tabular-nums px-3">41</span>
            <span class="text-xs text-center">minutos</span>
        </div>
        <span class="text-xl font-bold mt-1">:</span>
        <div class="flex flex-col items-center gap-1">
            <span class="text-4xl tabular-nums px-3">10</span>
            <span class="text-xs text-center">segundos</span>
        </div>
    </div>

    

</section>