---
import Instagram from '@/Icons/Instagram.astro'
import X from '@/Icons/X.astro'
---

<footer class="text-center w-full md:flex md:border-t-2 md:border-t-primary mb-14 ">
    <div class="border-primary border-t-2 border-b-2 py-6 mt-10  w-full md:border-b-0 md:mt-0 md:border-0">
        <p class="text-center">© 2024 La Velada del Año <span aria-hidden class="hidden md:inline">|</span> <br aria-hidden class="md:hidden"> Todos los derechos reservados.</p>
        <div class=" bg-primary w-full"></div>
    </div>
    <div class="flex w-full place-items-center justify-center gap-4 mt-6 md:mt-0 md:justify-end">
        <Instagram />
        <X />
    </div>

</footer>